.terms-wrapper {
    margin-top: 4.8rem;
    display: flex;
    gap: 1.2rem;
    align-items: flex-start;

    strong {
        font-weight: 500;
        color: var(--text-highlight);
    }
}

.checkbox-wrapper {
    position: relative;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-image {
        background: url(../../assets/icons/checkbox-default.svg) no-repeat;

        flex: 0 0 2.4rem;
        height: 2.4rem;
    }

    &:focus-within,
    &:hover {
        .checkbox-image {
            background: url(../../assets/icons/checkbox-hover.svg) no-repeat;
        }
    }

    &:has(:checked) {
        .checkbox-image {
            background: url(../../assets/icons/checkbox-checked.svg) no-repeat;
        }
    }
}