* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font-family: "Poppins", sans-serif;
  --text: 400 1.6rem/1.5 var(--font-family);
  --text-sm: 400 1.4rem/1.4 var(--font-family);

  --text-primary: #292524;
  --text-secundary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  --surface-primary: #ffffff;
  --surface-secundary: #fee7d6;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;
  --semantic-error: #dc2626;
}

body {
  font: var(--text);
  overflow: hidden;
}